.info-table {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  background: var(--semantics-blue-light);
  border-radius: 12px;
  padding: 10px;
  /*box-shadow: 0 2px 8px rgba(0,0,0,0.08);*/
  border: 2px solid var(--semantics-blue-dark);
}

.info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 0;
  border-bottom: 0.5px solid var(--semantics-blue-dark);
}

.info-row:last-child {
  border-bottom: none;
}

.label {
  font-weight: bold;
  color: var(--semantics-blue-dark);
  font-size: 16px;
}

.value {
  font-size: 15px;
  color: var(--semantics-blue-dark);
}

.value a {
  color: var(--link) !important;
  font-weight: bold;
  text-decoration: none;
}

.value a:hover {
  color: var(--highlight) !important;
  transition: all 0.5s !important;
}

a {
  color: var(--link) !important;
  font-weight: bold;
  text-decoration: none !important;
}

a:hover {
  color: var(--highlight) !important;
  transition: all 0.5s !important;
}
